/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 200px;
    font-family: 'Roboto', sans-serif;
    color: #a1a2a3;
}
h1{
    margin-bottom: 30px;
    font-size: 4.7em;
    color: #000;
}
h2{
    margin-bottom: 80px;
    font-size: 2.5em;
    color: #000;
}

/* UTILITIES */
.container{
    max-width: 1280px;
    margin: 0 auto;
}
/* Backgroud */
.bg-orange{
    background-color: #ee7a40;
}
.bg-pink{
    background-color: #ed5b7b;
}
.bg-purple{
    background-color: #805cf5;
}
.bg-blue{
    background-color: #007dfb;;
}
.bg-cyan{
    background-color: #00abfa;
}
/* Flexbox */
.flex{
    display: flex;
}
.ai-center{
    align-items: center;
}
.jc-center{
    justify-content: center;
}
.jc-between{
    justify-content: space-between;
}

/* List */
/* Header List */
.header-list > li{
    position: relative;
    display: inline-block;
    padding: 0 18px;
    cursor: pointer;
}
.header-list > li:hover,
.header-list li a:hover{
    color: #191c1f;
}
.header-list li a{
    text-decoration: none;
    color: #8c8e8f;
}
/* Dropdown Menu */
.dropdown-menu{
    display: none;
    position: absolute;
    top:180%;
    left: 0;
    width: 185px;
    padding: 22px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}
.dropdown-menu li{
    display: block;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
    color: #8c8e8f;
}
.dropdown-menu li:last-child{
    margin-bottom: 0;
}
.dropdown-menu li a:hover{
    color: #191c1f;
}
/* Features Menu */
.dropdown-menu.features-menu{
    display: flex;
    padding-right: 10px;
    width: unset;
    left: -230%;
}
.features-menu .features-box{
    width: 150px;
    margin: 0 30px;
    padding: 5px;
}
.features-menu li:first-child .features-box{
    margin-left: 0;
}
.features-menu .features-box > li:first-child{
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ced5db;
}
.features-icon{
    margin-right: 8px;
    padding: 4px;
    width: 24px;
    height: 24px;
    color: #fff;
    background-color: #ced5db;
    border-radius: 50%;
}
/* Coming Soon */
.coming{
    position: relative;
    color: #ced5db;
}
.coming:after{
    content: 'coming soon';
    position: absolute;
    top: -9px;
    right: -38px;
    font-size: 8px;
    text-transform: uppercase;
    color: #0666eb;
}
/* Buttons */
.btn{
    padding: 12px 22px;
    font-weight: bold;
    border-radius: 12px;
    cursor: pointer;
}
.btn.primary-btn{
    background-color: #f0f0f0;
    color: #191c1f;
}
.btn.primary-btn:hover{
    background-color: #ebebeb;
}
.btn.secondary-btn{
    background-color: #191c1f;
    color: #fff;
}
.btn.secondary-btn:hover{
    background-color: #3e4043;
}
.btn.big-btn{
    padding: 17px 20px;
}

/* SITE HEADER */
/* Left Header */
.site-header{
    position: fixed;
    top: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}
.left-header > a{
    margin-right: 40px;
}
.left-header .header-list li:first-child a{
    color: #191c1f;
    font-weight: bold;
}

/* SITE MAIN */
/* Hero */
.hero{
    margin-bottom: 100px;
    padding: 0 30px;
}
.hero .hero-left,
.hero .hero-right{
    width: 40%;
}

/* Left */
.hero .hero-left{
    padding-top: 40px;
}
.hero-left .hero-text{
    font-size: 18px;
    line-height: 1.5;
    color: #8b959e;
}
/* Phone Number */
.hero-left .phone-number{
    margin: 45px 0;
}
.phone-number input[type="text"]{
    margin-right: 15px;
    padding-bottom: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border: 0;
    border-bottom: 1px solid #ced2d6;
}
.phone-number #prefix{
    width: 80px;
}
.phone-number #phone::placeholder{
    color: #a1a3a4;
}
.phone-number span.btn{
    font-size: 18px;
    color: #909192;
    background-color: #3e4043;
    cursor: not-allowed;
}
/* Open Account */
.hero-left .open-account{
    color: #000;
}
.hero-left .open-account svg{
    width: 17px;
    vertical-align: middle;
    margin-right: 12px;
}

/* Right */
.hero .hero-right{
    position: relative;
    margin-left: 150px;
}
.hero-right img{
    width: 100%;
}
.hero-right .play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85px;
    height: 85px;
    font-size: 26px;
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* SLIDING SECT. */
.sliding{
    margin-bottom: 60px;
    text-align: center;
    overflow-x: hidden;
}
.sliding .sliding-cards{
    width: 6200px;
    flex-wrap: wrap;
    animation: slide 50s linear infinite;
}
.sliding-cards:hover{
    animation-play-state: paused;
}
@keyframes slide{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-3440px);
    }
}
/* Card */
.sliding-cards .card{
    position: relative;
    margin: 0 17px;
    padding: 35px 25px;
    height: 360px;
    width: 310px;
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius: 13px;
    overflow: hidden;
}
.card .layover{
    display: none;
    position: absolute;
    padding: 120px 25px 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    background-color: rgba(0, 0, 0, .3);
}
.card .layover::after{
    content:'Learn more';
    position: absolute;
    bottom: 30px;
    width: 83%;
    padding: 12px 0;
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    border-radius: 18px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    cursor: pointer;
}
.card:hover .layover{
    display: block;
}
.card.card-1{
    background-image: url('https://assets.revolut.com/media/web-stories/Junior.png');
}
.card.card-2{
    background-image: url('https://assets.revolut.com/media/web-stories/Budgeting.png');
}
.card.card-3{
    background-image: url('https://assets.revolut.com/media/web-stories/Vaults.png');
}
.card.card-4{
    background-image: url('https://assets.revolut.com/media/web-stories/Crypto.png');
}
.card.card-5{
    background-image: url('https://assets.revolut.com/media/web-stories/Commodities.png');
}
.card.card-6{
    background-image: url('https://assets.revolut.com/media/web-stories/Donations.png');
}
.card.card-7{
    background-image: url('https://assets.revolut.com/media/web-stories/OpenAccount.png');
}
.card.card-8{
    background-image: url('https://assets.revolut.com/media/web-stories/SecurityProducts.png');
}
.card.card-9{
    background-image: url('https://assets.revolut.com/media/web-stories/Cards.png');
}
.card.card-10{
    background-image: url('https://assets.revolut.com/media/web-stories/GroupBills.png');
}

/* RESPONSIVE */
/* Screen < 1160px */
@media screen and (max-width: 1159px){
    .hero-left .phone-number span{
        display: block;
    }
}
/* Screen < 970px */
@media screen and (max-width: 969px){
    .right-header .header-list{
        display: none;
    }
}